@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0; /* Remove default margin */
  height: 100vh; /* Set the body height to cover the viewport */
  /* overflow: hidden; Prevent scrollbars from appearing */
}

.background-video {
  position: absolute; /* Position it absolutely */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  height: 129%; /* Full height */
  object-fit: cover; /* Cover the entire area */
  z-index: -1; /* Send it to the back */
}

.content {
  position: relative; /* Position relative for content stacking */
  z-index: 1; /* Bring content to the front */
  color: white; /* Set text color */
  padding: 20px;
  margin-top: 100px; /* Optional padding */
}
