@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 129%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
  margin-top: 100px;
}

@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(0% 100% 0% 100%);
  }
  to {
    opacity: 1;
    clip-path: inset(0);
  }
}

.slider {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.card {
  background-color: black;
  text-align: center;
  border-radius: 10px;
  position: relative; /* Added for absolute positioning of pseudo-elements */
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent, blue, red, green, #ff0095, yellow);
  transform: translate(-50%, -50%);
  padding: 3px;
  animation: spin 40s linear infinite;
}

.card::before {
  filter: blur(1rem);
  opacity: 1;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 350deg;
  }
}

/* Default scrollbar styles */
::-webkit-scrollbar {
  z-index: 100;
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 10px;
}

.shadow-bottom {
  box-shadow: 0px 21px 10px -15px #111;    
}



.custom-shadow {
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.2); /* Left and bottom shadow */
}


